.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 18%
    left: 10%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 15%
  &-3
    animation: float1 3s ease-in-out infinite alternate
    position: absolute
    bottom: 10%
    left: 5%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

//Banners
.banner-principal__info
  @media screen and (max-width: $bp-max-xl)
    padding-right: 5rem
  @media screen and (max-width: $bp-max-md)
    padding-right: 1.125rem
.banner-principal__img
  padding-bottom: 0 !important
  padding-top: 2rem !important
  img
    max-width: 347px
    margin: 0 auto
.banner-principal .tarjeta
  background-position: inherit
  @media screen and (max-width: $bp-max-md)
    background-image: url(../assets/curso/portada/fondo-banner-principal-md.png) !important
  @media screen and (max-width: $bp-max-xs)
    background-image: url(../assets/curso/portada/fondo-banner-principal-movil.png) !important

.banner-interno
  height: 160px
  .banner-interno__fondo
    background-position: right
    background-image: url(../assets/curso/fondo_tema.png) !important
.titulo-principal.color-acento-contenido
  .titulo-principal__numero
    span
      color: $color-sistema-texto

//titulos
.cont-titulo-decorativo
  position: relative
  max-width: max-content
  figure
    width: 40px
    position: relative
  h3
    position: relative
    color: white
  &:before
    content: ""
    position: absolute
    left: 0
    bottom: 0
    right: 0
    top: 23px
    background: rgb(119,55,240)
    background: linear-gradient(180deg, rgba(119,55,240,1) 0%, rgba(41,17,85,1) 100%)
    border-radius: 6px
    z-index: 0

//bordes
.borde-5
  border-radius: 5px !important
.borde-10
  border-radius: 10px !important
.borde-20
  border-radius: 20px !important

.borde-s-1
  border-width: 5px
  border-style: solid
  border-color: $color-secundario


//fondos
.fondo-personalizado-1
  position: relative
  &:before
    content: ""
    position: absolute
    width: 108%
    left: -4%
    @media screen and (max-width: $bp-max-xl)
      width: 110%
      left: -5%
    @media screen and (max-width: $bp-max-lg)
      width: 112%
      left: -6%
    @media screen and (max-width: $bp-max-md)
      width: 116%
      left: -8%
    @media screen and (max-width: $bp-max-sm)
      width: 110%
      left: -5%
    @media screen and (max-width: 520px)
      width: 120%
      left: -10%
    top: 0
    bottom: 0
    z-index: 0
    background-repeat: no-repeat
    background-position: top
    background-size: cover
  &.no-tam-full
    &:before
      left: 0 !important
      width: 100% !important
  &.f1
    &:before
      background-image: url(../assets/curso/temas/4.png)
  &.f2
    &:before
      background-image: url(../assets/curso/temas/16.png)
    &.t1
      &:before
        top: 15%
  &.f3
    &:before
      background-image: url(../assets/curso/temas/24.png)
  &.f4
    &:hover
      &:before
        background-color: $color-primario
    &:before
      background-color: $color-sistema-k
      border-radius: 20px
      top: 60px
  &.f5
    overflow-y: clip
    .img-fl-1
      position: absolute
      &.img-fl-1__1
        left: -135px
        top: -30px
      &.img-fl-1__2
        bottom: -26px
        left: -84px
      &.img-fl-1__3
        top: -33px
        left: 29%
      &.img-fl-1__4
        top: -47px
        right: -102px
      &.img-fl-1__5
        bottom: -229px
        right: -260px
    &:before
      background-color: $color-sistema-n
  &.borde-10
    &:before
      border-radius: 10px 
  &__contenido
    position: relative

//color fondos
.fondo-color-sistema-h
  background-color: $color-sistema-h
.fondo-color-sistema-i
  background-color: $color-sistema-i
.fondo-color-sistema-j
  background-color: $color-sistema-j
.fondo-color-sistema-k
  background-color: $color-sistema-k
.fondo-color-sistema-l
  background-color: $color-sistema-l
.fondo-color-sistema-m
  background-color: $color-sistema-m
.fondo-color-sistema-n
  background-color: $color-sistema-n
.fondo-color-sistema-p
  background-color: $color-sistema-p
.fondo-color-sistema-q
  background-color: $color-sistema-q
.fondo-color-secundario
  background-color: $color-secundario
.fondo-color-primario
  background-color: $color-primario
.fondo-color-sistema-o
  background-color: $color-sistema-o
.fondo-color-acento-contenido
  background-color: $color-acento-contenido

//colores
.color-sistema-o
  color: $color-sistema-o

//listas
.list-1
  li
    display: flex

//slider
.slider-personalizado-1
  .slyder-f__btn
    position: relative
    *
      position: relative
    &:before
      content: ""
      background-color: #FFCE00
      position: absolute
      height: 50px
      width: 50px
      z-index: 0
      border-radius: 50%
      @media screen and (max-width: 576px)
        width: 30px
        height: 30px
    i
      font-size: 1rem
      color: $color-sistema-texto

.slider-personalizado-2
  li
    i.fas.fa-cog
      color: $color-primario
  position: relative
  overflow-y: clip
  &:before
    content: ""
    position: absolute
    width: 120%
    left: -10%
    top: 0
    bottom: 0
    z-index: 0
    background-color: $color-primario
  &__contenido
    position: relative
    background-color: $color-sistema-h !important
    border-radius: 20px
    .slyder-a
      .slyder-a__btn--sigt,.slyder-a__btn--atrs
        background-color: $color-acento-botones
      .slyder-a__bullets__item
        opacity: 0.35
        background-color: $color-secundario
        border: none !important
        &--active
          opacity: 1 !important
  .imgf-1
    position: absolute
    max-width: 120px
    right: 10px
    transform: translateY(-95%)
  .imgf-2
    position: absolute
    max-width: 120px
    bottom: 0
    left: 15px
    transform: translateY(60%)
  .imgf-3
    position: absolute
    max-width: 605px
    bottom: 0
    right: 0
    transform: translateY(33%) translateX(34%)

//tabs
.tab-a-personalizado-1
  .tabs-a__tab
    background-color: $color-acento-botones

//links
.link-p-1
  color: $blue !important